---
layout: default
title: Hi! I'm here to help <em>you</em>. 🫵
description: Let's talk product development, technical decisions, and shipping – along with discussions of life, liberty and the philosophy of happiness.
---

<div class="mb-10 lg:mb-20">
  {% capture description %}
    I've traveled our beautiful world, looking at it from many perspectives.
    On my adventure, I've been quiet.
    I watched; I listened; I explored.
    I picked up some artifacts along my journey.
    To my surprise, many of them had, inscribed on them, secrets as to "how the world works."
    I've rigorously tested the claims using experience and evidence.
    At long last, I'm ready to share the things that I've been able to distill &mdash; honoured to have had the absurd luck of unearthing them along the way.
  {% endcapture %}
  {%
    include section-header.html
    type="h1"
    title=page.title
    description=description
  %}

  {% include dl-open.html %}
    {% for principle in site.principles %}
      {%
        include dl-definition.html
        url=principle.url
        pre-title=principle.pre-title
        title=principle.title
        description=principle.description
      %}
    {% endfor %}
  {% include dl-close.html %}
</div>

<hr>

<div class="my-10 lg:my-20">
  {%
    include section-header.html
    type="h2"
    title="🔨 I'm working on a few things."
    description="I've worked on project and project, but I've finally settled in to a few where I can make a big difference."
  %}

  <div class="lg:mt-10 lg:mt-20 mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-12 sm:gap-y-16 lg:grid-cols-2">
    <div class="mx-auto w-full max-w-2xl lg:border-t lg:border-gray-900/10 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0">
      <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
        <h2 class="mt-2 text-lg font-semibold leading-6">
          <a href="https://dnsimple.com" class="text-blue-700 underline" target="_blank">
            Simplifying DNS &amp; domains @ DNSimple
          </a>
        </h2>
        <p class="mt-4 text-lg leading-8 text-gray-600">
          Long before I ever considered joining the team, I was a <em>fan</em>.
          And customer.
          Having used the <em>other</em> domain registrars, there was something special about DNSimple's approach that resonated.
          Was it DNSound?
          Nah, just the lack upselling, cross-selling, and the get-in-and-do-my-work-and-get-out experience.
        </p>
        <p class="mt-4 text-lg leading-8 text-gray-600">
          Fast-forwarding a <em>few</em> years, I now lead the Feature team.
          Seeing new features land in my own personal DNSimple account that I helped forge is an amazing thrill.
          Lately, we've been refining our workflow; hand-tuning our own version of Shape Up.
          Our tiny team has consistently released feature-after-feature in a mind-blowing 8-week cadence &mdash; including planning, design, implementation, support articles, internal documentation, and marketing work!
        </p>
      </article>

      <!-- <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
        <h2 class="mt-2 text-lg font-semibold leading-6">
          <span href="#" :class="text-blue-700 underline" target="_blank">
            Building in my community
          </span>
        </h2>
        <p class="mt-4 text-lg leading-8 text-gray-600">
          Family.
          Town.
          Libero neque aenean tincidunt nec consequat tempor. Viverra odio id velit adipiscing id. Nisi vestibulum orci eget bibendum dictum. Velit viverra posuere vulputate volutpat nunc. Nunc netus sit faucibus.
        </p>
        <p class="mt-4 text-lg leading-8 text-gray-600">
          Libero neque aenean tincidunt nec consequat tempor. Viverra odio id velit adipiscing id. Nisi vestibulum orci eget bibendum dictum. Velit viverra posuere vulputate volutpat nunc. Nunc netus sit faucibus.
        </p>
      </article> -->
    </div>

    <div class="mx-auto w-full max-w-2xl lg:border-t border-gray-900/10 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0">
      <article class="pb-12">
        <div class="group relative max-w-xl">
          <h2 class="mt-2 text-lg font-semibold leading-6">
            <a href="http://www.followalong.com" class="text-blue-700 underline" target="_blank">
              Decentralizing the internet @ Follow Along
            </a>
          </h2>
          <p class="mt-4 text-lg leading-8 text-gray-600">
            There is no practical reason why social media companies have our data siloed away (and sold off).
            A variety of technologies and tools already exist that could add checks on their omnipotent reach.
            Follow Along is one answer to the problem &mdash; based on RSS feeds.
          </p>
        </div>
      </article>

      <article>
        <div class="group relative max-w-xl">
          <h2 class="mt-2 text-lg font-semibold leading-6">
            <a href="http://app.togetherprogress.com" class="text-blue-700 underline" target="_blank">
              Adding purpose to relationships @ Together Progress
            </a>
          </h2>
          <p class="mt-4 text-lg leading-8 text-gray-600">
            Like <em>you</em>, I wear many hats.
            Sometimes, it's difficult to keep track of them all.
            Sometimes, it feels like things slip through the cracks.
            Sometimes, you can't tell if you're doing a good job.
            Together Progress is a tool that I built to help me add more meaning and purpose to my own relationships.
          </p>
        </div>
      </article>

      <!-- <article class="pb-12">
        <div class="group relative max-w-xl">
          <h2 class="mt-2 text-lg font-semibold leading-6">
            <a href="https://fastfinance.dallasread.com" class="text-blue-700 underline">
              Simplifying personal finances @ Fast Finance
            </a>
          </h2>
          <p class="mt-4 text-lg leading-8 text-gray-600">
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel iusto corrupti dicta laboris incididunt.
          </p>
        </div>
      </article> -->
    </div>

  </div>
</div>

<hr>

<div class="mt-10 lg:mt-20">
  <div class="mt-10 mb-10 lg:mb-20">
    {%
      include section-header.html
      type="h2"
      title="☎️ Want to stay connected?"
      description="Whether you're looking to get-in-touch or stay-in-touch, here are a couple options."
    %}
  </div>
  <div class="mx-auto grid max-w-7xl grid-cols-1 gap-x-8 gap-y-8 md:grid-cols-2">
    <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
      <h2 class="mt-2 text-lg font-semibold leading-6">
        <a href="" data-email="WkdGc2JHRnpRR1Y0WTJsMFpXTnlaV0YwYVhabExtTmg=" class="text-blue-700 underline">
          Send me an email message
        </a>
        <script>
          const $email = document.querySelector('[data-email]')
          const email = atob(atob($email.getAttribute('data-email')))

          setTimeout(() => {
            $email.setAttribute('href', 'mailto:' + email)
          }, Math.random() * 4)
        </script>
      </h2>
      <p class="mt-4 text-lg leading-8 text-gray-600">
        I'd love to hear from you. Drop me a line if you are stuck on a problem, are feeling <em>meh</em>, or even an accomplishment you would like to celebrate. Let's connect!
      </p>
    </article>
    <article class="mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg">
      <div class="group relative max-w-xl">
        <h2 class="mt-2 text-lg font-semibold leading-6">
          <a href="/feed.xml" class="text-blue-700 underline">
            Follow my RSS feed
          </a>
        </h2>
        <p class="mt-4 text-lg leading-8 text-gray-600">
          Use my RSS feed to stay in the loop of what I'm up to, what I'm working on, how I'm solving problems, what problems I'm running into, and what I'm thinking about.
        </p>
      </div>
    </article>
  </div>
</div>
