<div class="byline">
  <hr />
  <img src="/assets/images/pr.jpeg">
  <h3><a href="http://dallasread.com" rel="author">By Dallas Read</a></h3>
  <p>
    I write software. Currently working on <a href="http://instagive.io">Instagive.io</a>, <a href="http://realtxn.com">RealTXN.com</a>, <a href="http://touch-base.co">Touch-Base.co</a>, <a href="http://oneattendance.com">OneAttendance.com</a>, <a href="http://onelyric.com">OneLyric.com</a>, <a href="http://remetric.com">Remetric.com</a>, and <a href="http://wordpress.org/plugins/lively-chat-support">Lively Chat Support</a>.
  </p>
  <div class="clear"></div>
</div>