<!-- {% include dl-open.html %}
  {% for post in site.categories[category] %}
    {% unless post.title == ignore %}
      {%
        include dl-definition.html
          url=post.url
          title=post.title
          description=post.description
      %}
    {% endunless %}
  {% endfor %}
{% include dl-close.html %} -->

{% include dl-open.html %}
  {% for post in site.posts %}
    {% if post.categories contains include.category %}
      {%
        include dl-definition.html
          url=post.url
          title=post.title
          description=post.description
      %}
    {% endif %}
  {% endfor %}
{% include dl-close.html %}
