<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dallas Read – Dream. Risk. Win. Repeat.</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/css">
      article a:visited, dl a:visited { color: purple; }
      span > span[aria-hidden="true"] { display: none; }
    </style>
  </head>
  <body>
    <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
      <div class="mx-auto lg:mx-0">
        <a href="index.html" class="text-xl font-semibold leading-8 tracking-tight text-blue-700 underline">Dallas Read</a>
        <span class="ml-3 text-gray-600 inline-block">
          Dream. Risk. Win. Repeat.
        </span>
      </div>

      {{content}}
    </div>
  </body>
</html>
