---
layout: default
---

<div class="mb-10 lg:mb-20">
  {%
    include section-header.html
      type="h1"
      title=page.title
      description=page.description
  %}
</div>

<div class="mb-10 lg:mb-20">
  {{content}}
</div>

{% unless page.categories == null %}
  {% capture category %}{{ page.categories | first }}{% endcapture %}
  {% unless site.categories[category].size == 1 %}
    <hr>
    <div class="mt-10 lg:mt-20">
      <div class="mb-10 lg:mb-20">
        {%
          include section-header.html
            type="h2"
            title="Looking for more?"
            description="Read more about this..."
        %}
      </div>
      {%
        include category-posts.html
          category=category
      %}
    </div>
  {% endunless %}
{% endunless %}
